@model Mailform.Models.UserEdit
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>メールフォームテスト</title>
</head>
<body>
    <div>
        <h2>メールフォームテスト</h2>

		<div>入力されたメールアドレスに確認コードを送信します</div>
        @using(Html.BeginForm()){
            @Html.TextBoxFor(
                model => model.MailAddress,
			    new { size = 30 }
			)
            <input type="submit" value="送信" />

			if(ViewBag.Exception is System.Exception && !String.IsNullOrEmpty(ViewBag.Exception.Message))
            {
                <div>@ViewBag.Exception.Message</div>
            }
        }
    </div>
</body>
</html>

